@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@300&family=Roboto:wght@700&family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@400;700&family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Anton&family=Raleway:wght@300&family=Roboto:wght@700&family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Anton&family=Poppins:wght@400;700&family=Raleway:wght@300&family=Roboto:wght@700&family=Titillium+Web:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Roboto;
}
body{
  background:#fff;
    }

header{
    background-color: #f0f2f3;
    width: 100%;
    height: 80px;

}
.logo .mylogo{
    font-size: 0px;
    color: rgb(32, 34, 33);
    margin-left: 7.5rem;
    font-size: 20px;
    margin-left:10rem;
    position: relative;
    top: 20px;
}
nav{
    margin-left: 1rem;
    margin-top: 0.3rem;
    display: flex;
    margin-right: 1rem;
    float: right;
    line-height: 8px;
}
nav .nav-link{
    color: rgb(15, 17, 17);
    padding: 0 20px;
    
}
.nav-link:hover{
    color: rgb(33, 104, 236);
    transition: 590ms ease-in-out all;
}

.section{
    padding: 150px;
    position: relative;
}

.cadre img{
    width: 25%;
    margin-left: 65%;
    position: relative;
    margin-top: -135px;    
}

.me{
    font-family:"Poppins", sans-serif;
    font-size: 14px;
}

h1{
    font-size: 50px;
    margin : 15px;
    margin-left: -2px;
}
.section p{
 color: #777777;
 font-size: 14px;
 font-weight: 300;
 line-height: 1.625em;
 font-family:"Poppins", sans-serif;
}
.section button{
    width: 150px;
    margin-left:-1px;
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    background:   rgba(118, 172, 237,100);
    border: none;
    border-radius: 5%;
}

.about-me{
    padding: 40px;
    position: relative;
}
.about-me img{
    width: 25%;
    margin-right: 65%;
    position: relative;
    margin-top: -135px;
}
.about{
    margin: 5px;
    padding-left: 50%;
    margin-top: -285px;
    position: relative;
}

.about h1{
    font-family: "Poppins",sans-serif;
    font-size: 35px;
    padding-top: -45px;
    margin-top: 10px;
}
.about p{
    font-family:"Poppins",sans-serif;
    color: #777777  ;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    max-width:  445px;
}
.about button{
    width: 170px;
    margin: 9px;
    padding: 9px;
    margin-left: 0px;
    color: #fff;
    background:   linear-gradient(96deg, rgba(34,207,205,1) 0%, rgba(138,180,249,1) 7%, rgba(0,212,255,0.9108018207282913) 100%);
    border: none;
    border-radius: 5%;
}

.offre{
    text-align: center;
}

.offre span{
    font-family: Roboto;
    font-size: 30px;
}
.offre p{
    font-family: "Poppins",sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}

.conteneur-flex1{
    display: flex;
    padding: 95px;
    flex-flow: row wrap;
    justify-content: space-around;
}
.element-flexe{margin: 35px;color: inherit;}
.element-flexe p{
    font-family: "Poppins",sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}
.element-flexe span{
    margin-left: 100px;
    margin-bottom: 35px;
}
.element-flexe:hover{
    color: rgba(118, 172, 237,100);
}
.element-flexe h4{
    margin-left: 70px;
    margin-bottom: 35px;
}
.conteneur-flex2{
    display: flex;
    padding-left: 95px;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.conteneur-flex3{
    display: flex;
    padding: 7%;
    flex-flow: row wrap;
    justify-content: space-around;
    background: linear-gradient(96deg, rgba(34,207,205,1) 0%, rgba(76,190,225,1) 4%, rgba(124,171,247,1) 71%, rgba(73,188,250,1) 98%, rgba(0,212,255,0.9108018207282913) 100%);
}
 .number{
    margin-left: 40px;
    font-size: 10px;
    position: relative;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nb{
    color: #fff;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
}

.nbe{
    color: #fff;
    margin-left: 05px;
    font-size: 25px;
    font-weight: bold;
}
.featured-projet{
    text-align: center;
    padding:75px 25px;
}

.featured-projet span{
    font-family: Roboto;
    font-size: 35px;
}
.featured-projet p{
    font-family:"Poppins", sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    
}
.projet {
    display:flex;
    justify-content:space-around;
    padding: 40px 450px;
    font-size: 18px;

}

 .projet a{
    color: rgb(15, 17, 17);
}
.projet a:hover{
    color: cornflowerblue;
    transition: 590ms ease-in-out all;
}
    
.conteneur-img{
    width:90%;
    display: flex;
    min-width: 500px;
    max-width: 1100px;
    margin: 10px auto;   
    
}
.conteneur-img p{ 
   text-align: center;
    position: relative;    
    font-size: 22px;
    color: rgb(7, 6, 6);
}
.conteneur-img span{
    color: #777777;
    margin-left: 15px;
}
.conteneur-img h6{
    font-size: 16px;
    margin: 15px;
}

.sun{
    width: 95%;
}
.Feed-about-me{
    text-align: center;
    padding:45px 25px;   
}
.plan{
    padding: 15px;
    margin: 25px;
}
.plan p{
    padding: 12px;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    font-family:"Poppins", sans-serif;
}
.Feed-about-me span{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    padding: 35px;
}
.Feed-about-me p{
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    font-family:"Poppins", sans-serif;
}
.conteneur-flex4{
    display: flex;
    padding-left: 5px;
    justify-content: space-around;
    }
    .bgc{
        background: radial-gradient(circle, rgba(220,220,220,1) 0%, rgba(248,248,255,1) 7%);
        padding: 55px;
    }
    .element-fle{
        background-color: rgb(255, 255, 255);
        padding-left:100px;
        }
    .element-fle h4{
        position: static;
        padding: 15px;
        margin-left: -55px;
        max-height: 10px;
        min-height: -15px;
    }

.element-fle img{
    margin-left:-98px;
    max-width: 48px;
    min-width:50px;
    position: relative;
}
.element-fle p{
    position: relative;
    padding-top:4%;
    font-size: 20px;
    margin-left: -40px;
}

.im img{
    position: absolute;
    padding-right: 3px;
    border-radius: 50%;
}

.conteneur-plan{
    display: flex;
    padding: 65px;
    flex-flow: row wrap;
    justify-content: space-around;    
    background: radial-gradient(circle, rgba(220,220,220,1) 0%, rgba(248,248,255,1) 7%);
}
.element-plan{
    height: 575px;
    max-width: 280px;
    min-width: 100px;
    padding-top: 45px;
    position: relative;
    transition: .3s;
}
.element-plan:hover {
    background: linear-gradient(96deg, rgba(34,207,205,1) 0%, rgba(76,190,225,1) 1%, rgba(124,171,247,1) 34%, rgba(73,188,250,1) 99%, rgba(73,188,250,0.9108018207282913) 10%);
}

.ceo{
   margin-top: -8px;
  
}

.element-plan div.border-round{
    background: radial-gradient(circle, rgba(220,220,220,1) 0%, rgba(230,230,255,1) 3%);
    border-radius: 50%;
    height:125px;
    width: 125px;
    text-align: center;
    margin-left: 75px;
    position:absolute
}

.element-plan h6{
    background: rgb(220,220,220);
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-top: 25px;
    margin-left:100px;
    position: relative;
    text-align: center;
    font-size: 35px;
    padding: 20px;
}

.element-body{
    padding: 55px ;
}
.element-body h3{
    text-align: center;
    padding: 5px ;
}
.element-body h4{
    text-align: center;
    padding: 35px 45px;
    font-size: 17px;
    color: #777777;

}
.element-body .button-buy{
    background-color: #ccc;
    color: #000;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 400;
    padding: 10px;
    margin-top: -25px;
    border-radius: 3px;
    visibility: hidden;
}

.element-body h5{ color: #777777;
    font-size: 13px;
    border-top:1px solid  rgb(191, 199, 212);
    max-width: 125px;
    min-width: 195px;
    max-height: 95px;
    min-height: 46px;
    padding: 15px  ;
    text-align: center;
}

.price {
    color: #222;
    font-size: 16px;
    padding: 5px  45px;
    text-align: center;
    visibility: visible;
}

.element-plan:hover .price {
    visibility: hidden;
}

.element-plan:hover .button-buy {
    visibility: visible;
}


.element-fl p{
    position: relative;
    padding-left: -5px;
}

.mark {
    position: inherit;
    margin-left: -245px;
 
}

.icon{
    margin-left: 200px;
    color: #777777;
    margin-top: -15px;
}
.conteneur-footer{
    display: flex;
    padding: 6%;
    flex-flow: row wrap;
    justify-content: space-around;
    background: linear-gradient(96deg, rgb(0, 14, 44) 0%, rgb(0, 4, 41) 4%, rgb(0, 7, 31) 71%, rgb(0, 0, 24) 98%, rgba(0, 0, 26, 0.911) 100%);
}

.footer{color: #fff;}
.footer-p{
    padding: 25px;
    margin-left: -25px;
    position: relative;
}
.footer-p p{
    padding:5px;
    position: relative;
}
.footer input{
    height: 38px;
    width: 125%;
    
}
.footer button{
    width: 5%;
    margin-left: 250px;
    margin-top: -40px;
    height: 41px;
    position: absolute;
    color: #fff;
    background-color:dodgerblue ;
}
.footer span{
    width: 15%;
    padding: 10px;
    margin-top: 45px;
}