@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@300&family=Roboto:wght@700&family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@700&family=Titillium+Web:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
  background:#fff;
    }

header{
    background-color: #f0f2f3;
    width: 100%;
    height: 80px;

}
.logo .mylogo{
    font-size: 0px;
    color: rgb(32, 34, 33);
    margin-left: 7.5rem;
    font-size: 20px;
    margin-left:10rem;
    position: relative;
    top: 20px;
}
nav{
    margin-left: 1rem;
    margin-top: 0.3rem;
    display: flex;
    margin-right: 1rem;
    float: right;
    line-height: 8px;
}
nav .nav-link{
    color: rgb(15, 17, 17);
    padding: 0 20px;
    
}
.nav-link:hover{
    color: rgb(33, 104, 236);
    transition: 590ms ease-in-out all;
}

.section{
    padding: 150px;
    position: relative;
}

.cadre img{
    width: 25%;
    margin-left: 65%;
    position: relative;
    margin-top: -135px;    
}

.me{
    font-family: Roboto;
}
h1{
    font-size: 50px;
}
.section p{
    
    font-family: Raleway;
}
.section button{
    width: 150px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    background:   linear-gradient(96deg, rgba(34,207,205,1) 0%, rgba(138,180,249,1) 7%, rgba(0,212,255,0.9108018207282913) 100%);
    border: none;
    border-radius: 5%;
}

.about-me{
    padding: 100px;
    position: relative;
}
.about-me img{
    width: 25%;
    margin-right: 65%;
    position: relative;
    margin-top: -135px;
}
.about{
    padding-left: 40%;
    margin-top: -285px;
}

.about h3{
    font-family: Roboto;
    
}
.about p{
    font-family:Raleway;
}
.about button{
    width: 170px;
    margin: 9px;
    padding: 9px;
    color: #fff;
    background:   linear-gradient(96deg, rgba(34,207,205,1) 0%, rgba(138,180,249,1) 7%, rgba(0,212,255,0.9108018207282913) 100%);
    border: none;
    border-radius: 5%;
}

.offre{
    text-align: center;
}

.offre span{
    font-family: Roboto;
    font-size: 30px;
}
.offre p{
    font-family: Raleway;
}

.conteneur-flex1{
    display: flex;
    padding: 65px;
    flex-flow: row wrap;
    justify-content: space-around;
}
.element-flex span{
    margin-left: 100px;
    margin-bottom: 35px;
}

.element-flex h4{
    margin-left: 70px;
    margin-bottom: 35px;
}
.conteneur-flex2{
    display: flex;
    padding-left: 95px;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.conteneur-flex3{
    display: flex;
    padding: 6%;
    flex-flow: row wrap;
    justify-content: space-around;
    background: linear-gradient(96deg, rgba(34,207,205,1) 0%, rgba(76,190,225,1) 4%, rgba(124,171,247,1) 71%, rgba(73,188,250,1) 98%, rgba(0,212,255,0.9108018207282913) 100%);
}
 .number{
    margin-left: 40px;
    font-size: 10px;
    position: relative;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nb{
    color: #fff;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
}

.nbe{
    color: #fff;
    margin-left: 05px;
    font-size: 25px;
    font-weight: bold;
}
.featured-projet{
    text-align: center;
    padding:75px 25px;
}

.featured-projet span{
    font-family: Roboto;
    font-size: 30px;
}
.featured-projet p{
    font-family: Raleway;
}
.projet {
    display:flex;
    justify-content:space-around;
    padding: 40px 450px;
    font-size: 18px;

}

 .projet a{
    color: rgb(15, 17, 17);
}
.projet a:hover{
    color: cornflowerblue;
    transition: 590ms ease-in-out all;
}
    
.conteneur-img{
    width:90%;
    display: flex;
    min-width: 500px;
    max-width: 1100px;
    margin: 10px auto;   
    
}
.conteneur-img p{ 
   text-align: center;
    position: relative;    
}
.conteneur-img h6{
    font-size: 16px;
    margin: 15px;
}

.sun{
    width: 90%;
}
.Feed-about-me{
    text-align: center;
    padding:75px 25px;   
}
.plan{
    padding: 15px;
    margin: 25px;
}
.Feed-about-me span{
    font-family: Roboto;
    font-size: 30px;
}
.conteneur-flex4{
    display: flex;
    padding-left: 5px;
    justify-content: space-around;
    }
    .bgc{
        background: radial-gradient(circle, rgba(220,220,220,1) 0%, rgba(248,248,255,1) 7%);
        padding: 55px;
    }
    .element-fle{
        background-color: rgb(255, 255, 255);
        padding-left:100px;
        }
    .element-fle h4{
        position: static;
        padding: 15px;
        margin-left: -55px;
        max-height: 10px;
        min-height: -15px;
    }

.element-fle img{
    margin-left:-98px;
    max-width: 48px;
    min-width:50px;
    position: relative;
}
.element-fle p{
    position: relative;
    padding-top:4%;
    font-size: 20px;
    margin-left: -40px;
}

.im img{
    position: absolute;
    padding-right: 3px;
    border-radius: 50%;
}

.conteneur-plan{
    display: flex;
    padding: 65px;
    flex-flow: row wrap;
    justify-content: space-around;    
    background: radial-gradient(circle, rgba(220,220,220,1) 0%, rgba(248,248,255,1) 7%);
}
.element-plan{
    max-height: 10px;
    min-height: 450px;
    max-width: 100px;
    min-width: 280px;
    padding-top: 45px;
}
.ceo{
   margin-top: -8px;
  
}
.element-plan03{
    max-height: 10px;
    min-height: 450px;
    max-width: 100px;
    min-width: 280px;
    padding-top: 45px;
    background: linear-gradient(96deg, rgba(34,207,205,1) 0%, rgba(76,190,225,1) 1%, rgba(124,171,247,1) 34%, rgba(73,188,250,1) 99%, rgba(0,212,255,0.9108018207282913) 100%);}
.element-plan p{
    background: radial-gradient(circle, rgba(220,220,220,1) 0%, rgba(230,230,255,1) 3%);
    border-radius: 50%;
    height:125px;
    width: 125px;
    text-align: center;
    margin-left: 65px;
    position:absolute
}

.element-plan03 p{
    background-color: rgb(191, 199, 212);
    border-radius: 50%;
    height:125px;
    width: 125px;
    text-align: center;
    margin-left: 65px;
    position:absolute
}
.element-plan h6{
    background: rgb(220,220,220);
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-top: 25px;
    margin-left:90px;
    position: relative;
    text-align: center;
    font-size: 35px;
    padding: 20px;
}

.element-plan03 h6{
    background: rgb(220,220,220);
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-top: 25px;
    margin-left:90px;
    position: relative;
    text-align: center;
    font-size: 35px;
    padding: 20px;
}
.text{
    padding: 55px;
}
.text h3{
    text-align: center;
    padding: 5px;
}
.text h4{
    text-align: center;
    padding: 14px;
    color: rgb(191, 199, 212);
}
.text h4 button{
    width: 170px;
    margin: -5px;
    margin-left: -15px;
    padding: 9px;
    border: none;
    border-radius: 5%;
}
.text h5{ color: rgb(191, 199, 212);
           font-size: 13px;
           border-top:1px solid  rgb(191, 199, 212);
           max-width: 85px;
           min-width: 175px;
           max-height: 25px;
           min-height: 36px;
           text-align: center;
}   

.element-fl p{
    position: relative;
    padding-left: -5px;
}

.mark {
    position: inherit;
    margin-left: -140px;
 
}
.conteneur-footer{
    display: flex;
    padding: 6%;
    flex-flow: row wrap;
    justify-content: space-around;
    background: linear-gradient(96deg, rgb(0, 14, 44) 0%, rgb(0, 4, 41) 4%, rgb(0, 7, 31) 71%, rgb(0, 0, 24) 98%, rgba(0, 0, 26, 0.911) 100%);
}

.footer{color: #fff;}
.footer-p{
    padding: 25px;
    margin-left: -25px;
    position: relative;
}
.footer-p p{
    padding:5px;
    position: relative;
}
.footer input{
    height: 38px;
    width: 125%;
    
}
.footer button{
    width: 5%;
    margin-left: 250px;
    margin-top: -40px;
    height: 41px;
    position: absolute;
    color: #fff;
    background-color:dodgerblue ;
}
.footer span{
    width: 15%;
    padding: 10px;
    margin-top: 45px;
}