@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
  background:#fff;
    }

header{
    background-color: #f0f2f3;
    width: 100%;
    height: 80px;

}
.logo .mylogo{
    font-size: 0px;
    color: rgb(32, 34, 33);
    margin-left: 7.5rem;
    font-size: 20px;
    margin-left:10rem;
    position: relative;
    top: 20px;
}
nav{
    margin-left: 1rem;
    margin-top: 0.3rem;
    display: flex;
    margin-right: 1rem;
    float: right;
    line-height: 8px;
}
nav .nav-link{
    color: rgb(15, 17, 17);
    padding: 0 20px;
    
}
.nav-link:hover{
    color: rgb(33, 104, 236);
    transition: 590ms ease-in-out all;
}

.section{
    padding: 150px;
    position: relative;
}

.cadre img{
    width: 25%;
    margin-left: 65%;
    position: relative;
    margin-top: -135px;    
}

.me{
    font-family: Roboto;
}
h1{
    font-size: 50px;
}
.section p{
    
    font-family: Raleway;
}
.section button{
    width: 150px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    background:   linear-gradient(96deg, rgba(34,207,205,1) 0%, rgba(138,180,249,1) 7%, rgba(0,212,255,0.9108018207282913) 100%);
    border: none;
    border-radius: 5%;
}

.about-me{
    padding: 100px;
    position: relative;
}
.about-me img{
    width: 25%;
    margin-right: 65%;
    position: relative;
    margin-top: -135px;
}
.about{
    padding-left: 40%;
    margin-top: -285px;
}
.about span{
 

    
}

.about h3{
    font-family: Roboto;
    
}
.about p{
    font-family:Raleway;
}
.about button{
    width: 170px;
    margin: 9px;
    padding: 9px;
    color: #fff;
    background:   linear-gradient(96deg, rgba(34,207,205,1) 0%, rgba(138,180,249,1) 7%, rgba(0,212,255,0.9108018207282913) 100%);
    border: none;
    border-radius: 5%;
}

.offre{
    text-align: center;
}